<html>
    <head>
        <title>
            add new food
        </title>
        <style>
            .heading{
                font-family: Grape Nuts;
                font-size: 35px;
                color: black;
                display: flex;
                justify-content: center;
                padding: 5px;
            }
            .formback
            {
                width: 80%;
                height: 85%;
                background-color: white;
                border-radius: 25px;
                padding: 10px;
            }
            .maincontainer
            {
                width: 100%;
                height: 100%;
                background-color: #ff9900;
                display: flex;
                justify-content: center;
                align-items: center;

            }
            

            .gap{
                display: flex;
                justify-content: space-around;
            }
            .row{
                display: flex;
                height: 12%;
                
            }

        </style>
        
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="/javascripts/project.js"></script>
    
    <script>
         $(document).ready(function(){
    $('select').formSelect();
  });
    </script>
    </head>
    <body>
        <div class="maincontainer">
            <div class="formback">

                <div class="heading">
                    <tr>
                        <td><img src="/images/Swiggy.png" alt="" width="30px"></td>
                        <td>Food Enquiry System</td>
                    </tr>
                </div>


                
                    <div class="input-field col s6">
                        <select name="category_name" id="categoryname">
                          <option value="" disabled selected>Choose your option</option>
                          
                        </select>
                        <label>Select Catagory name</label>
                      </div>  
                

               
                    
                    <div class="input-field col s6">
                        <select id="foodname" name="foodname">
                          <option value="" disabled selected>Choose your option</option>
                          
                        </select>
                        <label>Select food name</label>
                      </div>  
               

                
                
                    <div class="col s5" style="display: flex;justify-content: center;align-items: center; ">
                        <button id="btn" class="btn waves-effect waves-light" type="submit" name="action">Search
                          </button>                        
                    </div>
                    <div class="res">
                        <div id="result">


                        </div>
                    </div>
                    
                    
                </div>
            
            </div>
        </div>
        
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>